<%= meta_tag :'og:title', @post.title %>
<%= meta_tag :'og:description', @post.content %>
<%= meta_tag :'og:url', "https://spottesting.herokuapp.com/posts/#{@post.id}" %>
<%= meta_tag :'og:image', "https://upload.wikimedia.org/wikipedia/commons/3/3a/Spot.IM-Logo.jpg" %>


<!-- <div data-spotim-module="recirculation" data-spot-id="sp_LBaUdxe3"></div>
<script src="https://recirculation.spot.im/spot/sp_LBaUdxe3"></script> -->


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>
``
<p>
  <strong>Title:</strong>
  <%= @post.title%>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<br/><br/><br/><br/>
<div>
  <%= Faker::Company.name %>
  <br/>
  <img src="<%= Faker::Company.logo %>" alt="Smiley face" height="42" width="42">
  <br/>
  <%= Faker::Company.bs %>
</div>


<script async src="https://recirculation.staging-spot.im/spot/sp_LBaUdxe3"></script>
<div data-spotim-module="recirculation" data-spot-id="sp_LBaUdxe3"></div>
<script async data-spotim-module="spotim-launcher"
  src="https://launcher.staging-spot.im/spot/sp_LBaUdxe3"
  data-post-id="<%=@post.id%>">
</script>

<!-- <div style="color:#7B7F83;margin:15px;font-size:13px;text-transform:uppercase;">Side Rail Test</div>
<div data-spotim-module="recirculation" data-spot-id="sp_LBaUdxe3"></div>
<script async src="https://recirculation.spot.im/spot/sp_LBaUdxe3/siderail" data-spotim-script="recirculation"></script> -->
