<!DOCTYPE html>
<html>
  <head>
    <title>Spottest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property='og:title'
      content='<%= yield_meta_tag(:'og:title', "Default title") %>' />
    <meta property='og:description'
      content='<%= yield_meta_tag(:'og:description', "Default description") %>' />
    <meta property='og:url'
      content='<%= yield_meta_tag(:'og:url', "Default Url") %>' />
    <meta property='og:image'
      content='<%= yield_meta_tag(:'og:image', "Default image") %>' />


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
