<!DOCTYPE html>
<html>
  <head>
    <title>Spottest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="SPOT" />
    <meta property="og:description" content="Richard's test page" />
    <meta property="og:url" content="htts://www.spot.im" />
    <meta property="og:image" content="https://www.spot.im/wp-content/uploads/sites/5/2016/07/Facebook-OG-Image.png" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
